<!DOCTYPE html>
<html>
<head>
<title>Booking Form</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="booking\style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="booking\demo.css" media="all" />
</head>
<body>
<div class="container">
			<!-- freshdesignweb top bar -->
            <!--/ freshdesignweb top bar -->
			<header>
				<h1>Booking Form</h1>
            </header>       
      <div  class="form">
      <form action="advbooking.php" method="post" onSubmit="return checkdate(this);">
	    <input id="snapHostID" name="snapHostID" type="hidden" value="FLJRPLR3SDA9"/>
 			<script type="text/javascript">
			function checkDateInpuWithTodays() {
 			//get today's date in string
			 var todayDate = new Date();
			 //need to add one to get current month as it is start with 0
 			var todayMonth = todayDate.getMonth() + 1;
 			var todayDay = todayDate.getDate();
 			var todayYear = todayDate.getFullYear();
 			var todayDateText = todayDay + "/" + todayMonth + "/" + todayYear;
 			//
 
			//get date input from SharePoint DateTime Control
 			var inputDateText = document.getElementById('<%= datepicker.ClientID %>' + '_' + '<%= datepicker.ID %>' + 'Date').value;
 			//
 
			//Convert both input to date type
 			var inputToDate = Date.parse(inputDateText);
 			var todayToDate = Date.parse(todayDateText);
 			//
 
			//compare dates
 			if (inputToDate > todayToDate) {alert("the input is later than today");}
 			else if (inputToDate < todayToDate) {alert("the input is earlier than today");}
 			else {alert("the input is same as today");}
 			}

			
			</script>     
    		<form id="contactform"> 
    			<p class="contact"><label for="name">Pickup Address</label></p> 
    			<input id="name" name="pickupadd" placeholder="Address" required="" tabindex="1" type="text"> 
    		
                <p class="contact"><label for="username">Dropdown Address</label></p> 
    			<input id="username" name="dropdownadd" placeholder="Address" required="" tabindex="2" type="text">
                
                <p class="contact"><label for="date">Date</label></p> 
    			<input id="username" name="date" placeholder="Booking Dste" required="" tabindex="3" type="date"> 
    			
 				<p class="contact"><label for="time">Time</label></p> 
    			<input id="username" name="time" placeholder="Pickup Time" required="" tabindex="4" type="time"> 
    			 			
            <select class="select-style gender" name="cabtype">
<!--            <option value="select">Cab Type</option>    -->
            <option value="o" >Ordinary</option>
            <option value="l">Luxuary</option>
            </select><br><br>
            
            <p class="contact"><label for="phone">Mobile phone</label></p> 
            <input id="phone" name="phone" placeholder="Phone number" required=""  maxlength="10" pattern="[0-9]{10}" type="text"> <br>
            <input class="buttom" name="submit" id="submit" tabindex="5" value="Book" type="submit"> 	 
   </form> 
   </form>
</div>      
</div>

</body>
</html>
